@{
    ViewData["Title"] = "Home Page";
}

something
another bugs fixing
added a validation
front-end fixes are added
another perfect take
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
